/* Font-face configuration */

@font-face {
    font-family: 'Yekan-N';
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.woff') format('woff'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Yekan-B';
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.woff') format('woff'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.ttf') format('truetype');
    font-weight: bold;
}



/* Font-face configuration */

.responsive {
  height: auto;
  max-width: 100%;
  display: block;
}

.button5 {
    border-radius: 25px;
    background-color:orangered;
    border-color: orangered;
}

.button1 {
    border-radius: 25px;
    background-color:white;
    border-color: white;
    color: black;
}

.button50 {
    border-radius: 50px;
    background-color:rgb(39, 204, 121);
    border-color: rgb(39, 204, 121);
}

  .bg {
    background-image: url('/home/khalanlou/Documents/CODA/Dependencies/Pictures/Back/Landing\ -\ 768.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }

   #blog {
    /* The image used */
    background-image: url('http://s12.picofile.com/file/8398897326/posts.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }

h1{
    text-align: right;
}

h2{
    text-align: right;
}

h3{
    text-align: right;
}

h4{
    text-align: right;
}

h5{
    text-align: right;
}

h6{
    text-align: right;
}