/* Font-face configuration */

@font-face {
    font-family: 'Yekan-N';
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.woff') format('woff'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Yekan-B';
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.woff') format('woff'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.ttf') format('truetype');
    font-weight: bold;
}



/* Navbar */

#Navbar {
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
}

#Navbar_Right{
    color: white;
    margin-top: 10px;
}

#Navbar_Right_Logo_IMG{
    margin: 10px;
    width: 100%;
}

#Navbar_Right_Blog_IMG{
    margin: 20px;
}

#Navbar_Right_Contact_IMG{
    margin: 20px 0px 20px 0px;
}

#Navbar_Left{
    margin-top: 10px;
}

#Navbar_Left_Costs_H6{
    margin: 20px 0px 20px 0px;
}

#Navbar_Left_Projects_H6{
    margin: 20px 0px 20px 0px;
}

#Navbar_Left_Contact_Sign_Button{
    margin: 8px 0px 0px 0px;
    height: 45px;
    width: 140px;
}

#Navbar_Left_Contact_Sign_Button_Text_H6{
    margin: 5px 0px 3px 0px;
}

#Navbar_Left_Contact_Sign_Button_Icon_IMG{
    margin: -1px -25px 3px 0px;
}

#Navbar_Left_Contact_Hamburger_IMG{
    margin: 20px;
}



/* Header */

#Header{
    height: 570px;
    margin-top: 20px;
    background-image: url('/home/khalanlou/Documents/CODA/Dependencies/Pictures/Header/RightHeader.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
}

#Header_Right{
    height: 570px;
}

#Header_Right_Row{
    margin-right: 20px;
}

#Header_Right_Title{
    margin-top:90px;
    height: 120px;
}

#Header_Right_Title_H1{
    font-size: 50px;
    color: white;
}

#Header_Right_Paragraph{
    height: 130px;
    margin-top: 15px;
}

#Header_Right_Paragraph_H3{
    line-height: 40px;
    color: white;
}

#Header_Left{
    height: 570px;
}

#Header_Left_Row{
    margin: 150px 100px 100px 100px;
    text-align: center;
}

#Header_Left_Title{
    height: 70px;
}

#Header_Left_Title_H1{
    text-align: center;
    font-size: 55px;
    color: orangered;
}

#Header_Left_Input{
    margin: 20px 75px 0px 50px;
    height: 75px;
}

#Header_Left_Input_Form_NumberInput{
    background-color: rgb(255, 236, 230);
    border-color: chocolate;
    height: 60px;
    width: 300px;
    border-radius: 40px;
}

#Header_Left_Input_Form_ButtonInput{
    border-color: orangered;
    margin: 5px;
    font-family: Yekan-B;
    height: 50px;
    width: 50px;
    margin-right: -55px;
    margin-top: 5px;
    background-image: url('/home/khalanlou/Documents/CODA/Dependencies/Pictures/Navbar/Button/ButtonIcon.png');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 40%; 
}

#Header_Left_Caption{
    height: 100px;
}

#Header_Left_Caption_H6{
    text-align: center;
    font-size: 13px;
}



/* Our Differences */

#OurDifference{
    height: 200px;
    margin: 0px 100px 70px 50px;
}

#OurDifference_Item_3_Caption{
    margin: 20px;
}

#OurDifference_Item_3_Caption_Title_H1{
    margin-top: 45px;
}

#OurDifference_Item_3_Caption_Number_H1{
    color:orangered;
    font-size: 150px;
    margin-right: -65px;
}

#OurDifference_Item_2_Caption{
    margin: 20px;
}

#OurDifference_Item_2_Caption_Title_H1{
    margin-top: 45px;
}

#OurDifference_Item_2_Caption_Number_H1{
    color:orangered;
    font-size: 150px;
    margin-right: -67px;
}

#OurDifference_Item_1_Caption{
    margin: 20px;
}

#OurDifference_Item_1_Caption_Title_H1{
    margin-top: 45px;
}

#OurDifference_Item_1_Caption_Number_H1{
    color:orangered;
    font-size: 150px;
    margin-right: -77px;
}

#OurDifference_Title_H1{
    font-size: 50px;
    margin: 50px 20px 20px 20px;
}



/* Blog */

#Blog{
    height: 600px;
    margin: 70px 100px 50px 100px;
}

#Blog_Slider_Content{
    border-radius: 30px;
    overflow: hidden;
    border-color: black;
}

#Blog_Slider_Content_Inner_ItemActive_Caption_H1{
    font-size: 45px;
    margin-bottom: 20px;
    margin-left: 600px;
}

#Blog_Slider_Content_Inner_ItemActive_Caption_H5{
    font-size: 21px;
    margin-bottom: 40px;
    margin-left: 600px;
    line-height: 35px;
}

#Blog_Slider_Content_Inner_ItemActive_Caption_BUTTON{
    margin: 0px 0px 120px 620px;
    height: 45px;
    width: 140px;
}

#Blog_Slider_Content_Inner_Item2_Caption_H1{
    font-size: 45px;
    margin-bottom: 20px;
    margin-left: 600px;
}

#Blog_Slider_Content_Inner_Item2_Caption_H5{
    font-size: 21px;
    margin-bottom: 40px;
    margin-left: 600px;
    line-height: 35px;
}

#Blog_Slider_Content_Inner_Item2_Caption_BUTTON{
    margin: 0px 0px 120px 620px;
    height: 45px;
    width: 140px;
}

#Blog_Slider_Content_Inner_Item3_Caption_H1{
    font-size: 45px;
    margin-bottom: 20px;
    margin-left: 600px;
}

#Blog_Slider_Content_Inner_Item3_Caption_H5{
    font-size: 21px;
    margin-bottom: 40px;
    margin-left: 600px;
    line-height: 35px;
}

#Blog_Slider_Content_Inner_Item3_Caption_BUTTON{
    margin: 0px 0px 120px 620px;
    height: 45px;
    width: 140px;
}




/* Team */

#Team{
    height: 400px;
    margin: 150px 100px 0px 100px;
}

#Team_Slider_Content_Social_Form_BUTTON1{
    width: 25px;
    height: 25px;
    margin: 5px;
}

#Team_Slider_Content_Social_Form_BUTTON2{
    width: 25px;
    height: 25px;
    margin: 5px;
}

#Team_Slider_Content_Social_Form_BUTTON3{
    width: 25px;
    height: 25px;
    margin: 5px;
}

#Team_Slider_Content_Social_Form_BUTTON4{
    width: 25px;
    height: 25px;
    margin: 5px;
}

#Team_Slider_Content_User_Capion_IMG{
    text-align: center;
    margin: 10px 60px 0px 60px;
    width: 60%;
}

#Team_Slider_Content_User_Capion_H2{
    text-align: center;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.733);
}

#Team_Slider_Content_User_Capion_H6{
    text-align: center;
    color: rgba(0, 0, 0, 0.644);
}

#Team_Slider_Content_User_Capion_H1{
    text-align: center;
    font-size: 35px;
    line-height: 55px;
    margin-top: 90px;
}



/* Portfolio */

#Portfolio{
    margin-top: 100px;
    margin-bottom: 200px;
}

#Portfolio_Content_H1{
    font-size: 70px;
    text-align: center;
}



/* Footer */

#Footer{
    background-color:darkolivegreen;
}

#Footer_Content_H5{
    margin: 30px 0px 30px 0px;
}





.button5 {
    border-radius: 25px;
    background-color:orangered;
    border-color: orangered;
}

.button1 {
    border-radius: 25px;
    background-color:white;
    border-color: white;
    color: black;
}

.button50 {
    border-radius: 50px;
    background-color:rgb(39, 204, 121);
    border-color: rgb(39, 204, 121);
}

  .bg {
    background-image: url('/home/khalanlou/Documents/CODA/Dependencies/Pictures/Back/Landing\ -\ 768.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }

   #blog {
    /* The image used */
    background-image: url('http://s12.picofile.com/file/8398897326/posts.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }

h1{
    text-align: right;
}

h2{
    text-align: right;
}

h3{
    text-align: right;
}

h4{
    text-align: right;
}

h5{
    text-align: right;
}

h6{
    text-align: right;
}