/* Font-face configuration */
@font-face {
    font-family: 'Yekan-N';
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.woff') format('woff'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Yekan-B';
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.woff') format('woff'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.ttf') format('truetype');
    font-weight: bold;
}
/* Font-face configuration */


/****************** Main ******************/
#Main{
    transition: background-color .5s;
    transition: margin-left .5s;
}

#main{
    font-family: Yekan-N;
    background-image: url('Dependencies/Images/Back/Landing\ -\ 768.png');
    background-repeat: no-repeat;
    background-size: 100%;
    transition: opacity .5s;
    opacity: 0;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 50%px;
}
/****************** Main ******************/


/**************** Header ****************/

/**************** Header ****************/

/*************** H's Right-Align ****************/
h1{
    text-align: right;
}

h2{
    text-align: right;
}

h3{
    text-align: right;
}

h4{
    text-align: right;
}

h5{
    text-align: right;
}

h6{
    text-align: right;
}
/*************** H's Right-Align ****************/

/*************** form ****************/
#div-form{
    margin-top: 3em;
}
#form{
    text-align: start;
}
#btn{
    border-radius: 20px;
    width: 7em;
}
#contact{
    margin-top: 4em;
}
#div-ahmadi{
    padding-bottom: 1em;
    padding-top: 1em;
}
#h5-ahmadi{
    text-align: center;
    margin-right: 15px;
}
#icon-1{
    color: orangered;
}
#icon-2{
    color: orangered;
}
#h5-azizi{
    text-align: center;
}
#h6-contact{
    text-align: center; margin-top: 1em;
}
#label-name{
    margin-right: 1em;
}
#label-number{
    margin-right: 1em;
}
#label-email{
    margin-right: 1em;
}
#label-comment{
    margin-right: 1em;
}
#h5-social{
    text-align: center;
    margin-top: 2em;
}
#div-social{
    margin-bottom: 1em;
}








input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid green;
    outline: none;
    animation: none;
    border-radius: 25px;
    background-color: #d6ffd3;
  }
  input[type=text]:focus {
    border: none;
    animation: none;
  }



  input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid green;
    outline: none;
    animation: none;
    border-radius: 25px; 
    background-color: #d6ffd3;
  }
  input[type=number]:focus {
    border: none;
    animation: none;
  }



  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid green;
    border-radius: 25px; 
  }
  input[type=email]:focus {
    border-radius: 25px;
    outline: none;
    transition: outline 0.6s linear;
    border: none;
  }



textarea[title=comment]{
border: 1px solid green;
}
textarea[title=comment]:focus{
    border-radius: 25px;
    outline: none;
    transition: outline 0.6s linear;
    border: none;
}

/*************** form ****************/




