/* Font-face configuration */
@font-face {
    font-family: 'Yekan-N';
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.woff') format('woff'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Yekan-B';
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.woff') format('woff'),
        url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.ttf') format('truetype');
    font-weight: bold;
}
/* Font-face configuration */


/****************** Main ******************/
#Main{
    transition: background-color .5s;
    transition: margin-left .5s;
}

#main{
    font-family: Yekan-N;
    background-image: url('Dependencies/Images/Back/Landing\ -\ 768.png');
    background-repeat: no-repeat;
    background-size: 100%;
    transition: opacity .5s;
    opacity: 0;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 50%px;
}
/****************** Main ******************/


/**************** Header1 ****************/
#header{
    
}

#header-right{
    background-image: url('Dependencies/Images/Header/RightHeader.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 650px;
    margin-top: -70px;
    z-index: 0;
}

#header-right-title{
    margin-top: 170px;
    margin-right: -120px;
}

#header-right-title-h1{
    font-size: 48px;
    line-height: 55px;
    color: white;
}

#header-right-caption{
    margin-top: 15px;
    margin-right: -90px;
}

#header-right-caption-h2{
    font-size: 27px;
    line-height: 40px;
    color: white;
}

#header-left{
    margin-top: -70px;
}

#header-left-title{
    margin-bottom: 20px;
}

#header-left-title-h3{
    font-size: 60px;
    color: orangered;
}

#header-left-sign{
    
}

#header-left-sign-form-input{
    width: 310px;
    height: 60px;
    border-radius: 50px;
    border-width: 1px;
    border-color: orangered;
    background-color: rgb(255, 237, 231);
}

#header-left-sign-form-button{
    display: inline;
    width: 49px;
    height: 49px;
    border-radius: 50px;
    background-image: url('Dependencies/Images/Navbar/Button/ButtonIcon.png');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 35%;
    margin: 6px -55px 0 0;
}

#header-left-caption{
    margin-top: 10px;
}

#header-left-caption-h4{
    font-size: 13px;
    color: orangered;
}
/**************** Header1 ****************/

/**************** Header2 ****************/
#header-right_{
    background-image: url('Dependencies/Images/Header/mobile.png');
    background-repeat: no-repeat;
    background-size: 550px;
    height: 600px;
    margin-bottom: -350px;
    background-position: center;
    z-index: 0;
}


#header-right-title_{
    margin-top: 200px;
    margin-bottom: 20px;
}

#header-right-title-h1_{
    font-size: 48px;
    line-height: 55px;
    color: orangered;
}

#header-left-sign_{
    
}

#header-left-sign-form-input_{
    width: 310px;
    height: 60px;
    border-radius: 50px;
    border-width: 1px;
    border-color: black;
    background-color: rgba(0, 0, 0, 0.082);
}

#header-left-sign-form-button_{
    display: inline;
    width: 49px;
    height: 49px;
    border-radius: 50px;
    border-color: black;
    border-width: 1px;
    background-color: black;
    background-image: url('Dependencies/Images/Navbar/Button/ButtonIcon.png');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 35%;
    margin: 6px -55px 0 0;
}

#header-left-caption_{
    margin-top: 10px;
}

#header-left-caption-h4_{
    font-size: 13px;
    color: black;
}
/**************** Header2 ****************/

/**************** navbar ****************/
#navbar{
    height: 70px;
    z-index: 1;
}

#navbar-right{
    color: white;
}

#navbar-right-row{
    margin-top: 10px;
}

#navbar-right-logo{
    
}

#navbar-right-logo-img{
    width: 88px;
}

#navbar-right-blog{
    
}

#navbar-right-blog-h6{
    text-align: center;
}

#navbar-right-contact{
    
}

#navbar-right-contact-h6{
    text-align: center;
}

#navbar-left{

}

#nevbar-left-row{
    margin-top: 18px;
}

#navbar-left-cost{

}

#navbar-left-cost-h6{
    text-align: center;
}

#navbar-left-portfolio{

}

#navbar-left-portfolio-h6{
    text-align: center;
}

#navbar-left-sign{
    text-align: center;
}

#navbar-left-sign-button{
    width: 110px;
    height: 38px;
    border-radius: 50px;
}

.button{
    background-color: orangered;
    border-width: 0;
}

.button:hover{
    background-color: rgb(221, 59, 0);
    border-width: 1;
    border-color: white;
    transition: 0.5s ease-in-out;
}

#navbar-left-sign-button-h6{
    font-size: 11px;
    font-family: Yekan-B;
    float: right;
    margin: 5px 5px 0 0;
}

#navbar-left-sign-button-img{
    width: 12px;
    margin: 3px 4px 0 0;
}

#navbar-left-hamburger{
    
}

#navbar-left-hamburger-img{
    width: 25px;
    float: left;
}
/**************** navbar ****************/

/**************** navbar-modal ****************/
#navbar-modal{
    backdrop-filter: blur(4px);
}

#navbar-modal-content{
    width: 430px;
    height: 290px;
    border-radius: 25px;
    margin-top: 170px;
}

#navbar-modal-title{
    margin-bottom: 30px;
    margin-top: -5px;
}

#navbar-modal-title-h3{
    font-size: 30px;
    color: black;
}

#navbar-modal-caption-h4{
    font-size: 12px;
    color: black;
}

#navbar-modal-caption{
    margin-top: 15px;
}

#navbar-modal-sign{
    
}

#navbar-modal-form-input{
    width: 310px;
    height: 50px;
    border-radius: 50px;
    border-width: 1px;
    border-color: orangered;
    background-color: rgba(255, 167, 136, 0.137);
}

#navbar-modal-form-button{
    display: inline;
    width: 43px;
    height: 43px;
    border-radius: 50px;
    background-image: url('Dependencies/Images/Navbar/Button/ButtonIcon.png');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 35%;
    margin: 4px -47px 0 0;
}

#navbar-modal-social{
    margin-top: 10px;
}

#navbar-modal-social-1{
    display: inline;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    border-width: 0px;
    background-color:rgb(39, 204, 121);
    border-color: rgb(39, 204, 121);
    margin: 2px;
}

#navbar-modal-social-2{
    display: inline;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    border-width: 0px;
    background-color:rgb(39, 204, 121);
    border-color: rgb(39, 204, 121);
    margin: 2px;
}

#navbar-modal-social-3{
    display: inline;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    border-width: 0px;
    background-color:rgb(39, 204, 121);
    border-color: rgb(39, 204, 121);
    margin: 2px;
}

#navbar-modal-social-4{
    display: inline;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    border-width: 0px;
    background-color:rgb(39, 204, 121);
    border-color: rgb(39, 204, 121);
    margin: 2px;
}
/**************** navbar-modal ****************/

/**************** hamburger-menu ****************/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 0 20px 20px 0;
    border-color: rgba(255, 68, 0, 0.198);
    border-style: solid;
    border-width: 0px 2px 0px 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    backdrop-filter: blur(5px);
  }

#side-nav-logo-img{
    width: 88px;
}
/**************** hamburger-menu ****************/

/*************** H's Right-Align ****************/
h1{
    text-align: right;
}

h2{
    text-align: right;
}

h3{
    text-align: right;
}

h4{
    text-align: right;
}

h5{
    text-align: right;
}

h6{
    text-align: right;
}
/*************** H's Right-Align ****************/


  

 